name: aws-documents-dev

services:
    db:
        image: postgres:17
        restart: no
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - '5000:5432'
        volumes:
            - postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U $POSTGRES_USER']
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres-data:
