name: aws-documents-dev

services:
    api:
        build:
            context: ./api
            target: dev
        env_file:
            - api/.env
        restart: no
        volumes:
            - ./api:/app
            - /app/node_modules
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=development
        depends_on:
            db:
                condition: service_healthy

    db:
        image: postgres:17
        restart: no
        env_file:
            - .env
        ports:
            - '5000:5432'
        volumes:
            - postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U $POSTGRES_USER']
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres-data:
